/* Font Google Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Your own custom component styles */

@import 'tailwindcss/utilities';
/* Import css */
@import "./locomotive-scroll.css";

html {
    -webkit-text-size-adjust: 100%;
    @apply bg-[#000] box-border text-[100%];
}
body {
    @apply w-full text-[#fff] text-sm font-roboto;
}
/* Custom Scrollbar */
::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background-color: #191b20;
}
::-webkit-scrollbar-thumb {
    background: rgba(25,27,32,.7);
    box-shadow: inset 0 0 0 1px rgb(155 153 173 / 50%);
    border: 5px solid #191b20;
    border-radius: 10px;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background-color: #191b20;
}
/* Selection */
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.banner__overlay--down {
    background-image: linear-gradient(
      to bottom,
      transparent 10%,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 1)
    );
  }
  
  
.banner__overlay {
    background-image: linear-gradient(
      to left,
      transparent 10%,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    );
}

.banner__overlay--white {
    background-image: linear-gradient(
      to left,
      transparent 10%,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.7)
    );
}

/* Menu cl */
.menu--item--active::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    top: -15px;
    right: -15px;
    background: url('/menu-item-active.png') center no-repeat;
    background-size: cover;
    transform-origin: center;
    animation: wave 1s linear infinite;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* menu */
.active__menu {
    text-shadow: 0 10px 30px #cca574, 0 0 20px #cca574, 0 0 40px #cca574;
}
.active__color {
    box-shadow: 0 0 20px #cca574, 0 0 20px #cca574, 0 0 40px #cca574;
}
.active__color--download {
    box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #fff;
}
.header__button::after {
    content: '';
    display: block;
    width: 0px;
    height: 24px;
    overflow: hidden;
    background: url('/arrow-right.svg') center no-repeat;
    transition: width 200ms, margin-left 200ms;
}
.header__button:is(:hover,:focus)::after {
    width: 15px;
    margin-left: 8px;
}

/* Button Audio */
.active__audio--button {
    animation: button_audio 1.2s linear infinite;
}

@keyframes button_audio {
    50% {
        height: 20%;
    }
    100% {
        height: 100%;
    }
}
.active__audio--button:nth-child(1) {
    animation-delay: 0s;
}
.active__audio--button:nth-child(2) {
    animation-delay: 0.3s;
}
.active__audio--button:nth-child(3) {
    animation-delay: 0.9s;
}
.active__audio--button:nth-child(4) {
    animation-delay: 0.3s;
}
.active__audio--button:nth-child(5) {
    animation-delay: 0s;
}

/* Button Banner */
.button__banner {
    background: url('/button-banner.png') no-repeat center center;
}
/* bg__rgba */
.bg__rgba {
    background-color: rgba(0, 0, 0, 0.8);
}
/* bg__chacracter */
.bg__chacracter {
    background-color: rgba(225,225,225,.5);
}

.slick-slider {
    height: 100%;
    z-index: 40;
    position: relative;
}
.slick-list {
    height: 100%;
    position: relative;
}
.slick-track {
    height: 100%;
    position: relative;
}

.slick-slide > div {
    height: 100%;
}
.slick-arrow {
    height: 30px !important;
}
.slick-arrow::before {
    display: none !important;
}

.item-1 {
    /* left-[210px] top-[-45px] */
    @apply md:left-[210px] md:top-[-45px] left-[150px] top-[-30px];
}
.item-2 {
    /* top-6 right-6 */
    @apply md:top-6 md:right-6 top-[20px] right-[20px];
}
.item-3 {
    /* right-[-45px] top-[180px] */
    right: -45px;
    top: 180px;
    @apply md:right-[-45px] md:top-[180px] right-[-30px] top-[150px];
}
.item-4 {
    /* bottom-6 right-6 */
    @apply md:bottom-6 md:right-6 bottom-[20px] right-[20px];
}
.item-5 {
    /* left-[210px] bottom-[-45px] */
    @apply md:left-[210px] md:bottom-[-45px] left-[150px] bottom-[-30px];
}
.item-6 {
    /* bottom-6 left-6 */
    @apply md:bottom-6 md:left-6 bottom-[20px] left-[20px];
}
.item-7 {
    /* left-[-45px] top-[180px] */
    @apply md:left-[-45px] md:top-[180px] left-[-30px] top-[150px];
}
.item-8 {
    /* top-6 left-6 */
    top: 1.5rem;
    left: 1.5rem;
    @apply md:top-6 md:left-6 top-[20px] left-[20px];
}
.item-1 .sub--item, .item-2 .sub--item, .item-3 .sub--item, .item-4 .sub--item {
    left: 100px;
    top: 1rem;
    animation: line_animation_product_home 1.2s linear;
    transition: width 100ms;
    text-align: end;
    justify-content: end;
}
.item-5 .sub--item, .item-6 .sub--item, .item-7 .sub--item, .item-8 .sub--item {
    right: 100px;
    bottom: 1rem;
    animation: line_animation_product_home 1.2s linear;
    transition: width 50ms;
    text-align: end;
}
/* .barr__cir--1 {
    @apply rotate-[-360deg];
} */
.barr__cir--2 {
    @apply rotate-[-45deg];
}
.barr__cir--3 {
    @apply rotate-[-85deg];
}
.barr__cir--4 {
    @apply rotate-[-135deg];
}
.barr__cir--5 {
    @apply rotate-[-176deg];
}
.barr__cir--6 {
    @apply rotate-[-225deg];
}
.barr__cir--7 {
    @apply rotate-[-275deg];
}
.barr__cir--8 {
    @apply rotate-[-315deg];
}

.active__item.item-2 {
    transform: rotate(45deg);
}
.active__item.item-3 {
    transform: rotate(85deg);
}
.active__item.item-4 {
    transform: rotate(135deg);
}
.active__item.item-5 {
    transform: rotate(177deg);
}
.active__item.item-6 {
    transform: rotate(225deg);
}
.active__item.item-7 {
    transform: rotate(275deg);
}
.active__item.item-8 {
    transform: rotate(-45deg);
}

@keyframes line_animation_product_home {
    0% {
        width: 0px;
        opacity: 0;
    }
    50% {
        width: 115px;
        opacity: 0;
    }
    100% {
        width: 230px;
        opacity: 1;
    }
}

.text__3dot {
    display: block;
  	display: -webkit-box;
    -webkit-line-clamp: 5;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.grid__products {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-column-gap: 20px;
   grid-row-gap: 150px;
}
.grid__keyfeatures {
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
   grid-column-gap: 30px;
   grid-row-gap: 30px;
}
